<!DOCTYPE html>
<html lang="en-gb">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;700;800&display=swap" rel="stylesheet">
    
    <link rel="icon" type="image/gif" href="https://cepheus.neocities.org/vessel/pj/miniicq.gif" />	
    
    <title>// Your Site Name</title>
   
   <style>
   body, html, a, a:hover, textarea { cursor:url("https://cepheus.neocities.org/img/cbasic.png"), crosshair;}

  body{
    background: #f7d2d2;
    font-family: 'Tajawal', sans-serif;
    font-size: 15px;
    letter-spacing:1px;}
    
    
  #container{
    width: 800px;
    overflow:auto;
    overflow-x:none;
    background: white;
    border: 1px solid black;
    outline: 10px solid white;
    border-radius: 13px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;}
    
  .header{
    float:left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 150px;
    border-radius: 13px 13px 0px 0px;
    background: url('https://cepheus.neocities.org/vessel/pj/_s_a73b73c159d159e0f0g64h7F0505AD1B0F8F8F65000000iEEj0k64l158m158.png');
    border-bottom: 1px solid black;
    }
    
    .h{
   margin-top:55px;
    padding-left: 15px;
    font-size: 30px;
    color:white;
    letter-spacing:3px;
    line-height:25px;
    font-weight:bold;}
    
    .h h2{
      line-height:20px;
    letter-spacing:3px;
     font-weight:normal;
     font-size: 17px;
     margin:0;
     padding:0;
    }
  
    
  .side{
    width: 200px;
    float:left;
    border: none;
    margin: 25px;
    margin-right: 5px;
  }
  
  .blog{
    border: none;
    width: 515px;
    float:right;
    margin: 25px;
    margin-left: 10px;
  }
  
  .side h1{
    font-size:24px;
    padding:0px;
    margin:0px;
    text-align:center;
    border-bottom: 1px solid #4a3f3f;
    font-weight: normal;
    line-height: 20px;
    padding-top:10px;
    margin-bottom:5px;
    letter-spacing:6px;
  }
    
  .side h2{
    background: url('https://cepheus.neocities.org/vessel/pj/_s_a73b73c159d159e0f0g64h7F0505AD1B0F8F8F65000000iEEj0k64l158m158.png');
    font-size:20px;
    padding:0px;
    margin:0px;
    text-align:center;
    color:white;
    font-weight: bold;
    border: 1px solid black;
    line-height: 20px;
    padding-top:10px;
    margin-bottom:5px;
    letter-spacing:3px;
  }  
  
   .blog h1{
    font-size:26px;
    padding:0px;
    margin:0px;
    text-align:right;
    border-bottom: 1px solid #4a3f3f;
    font-weight: normal;
    line-height: 20px;
    padding-top:10px;
    margin-bottom:5px;
    letter-spacing:3px;
  }
  
    
  .blog h2{
    background: url('https://cepheus.neocities.org/vessel/pj/_s_a73b73c159d159e0f0g64h7F0505AD1B0F8F8F65000000iEEj0k64l158m158.png');
    font-size:20px;
    padding:0px;
    margin:0px;
    text-align:center;
    color:white;
    font-weight: bold;
    border: 1px solid black;
    line-height: 20px;
    padding-top:10px;
    margin-bottom:5px;
    letter-spacing:3px;
  }  
    
  .t{
    color:#4a3f3f;
    padding-top:5px;
    font-size:14px;
    letter-spacing:2.5px;
    padding-bottom:5px;}
    
    ul{list-style-image: url('https://cepheus.neocities.org/vessel/pj/miniicq.gif');}
    
   .n ul{
      padding:0;
      margin:0;
      list-style-position:inside;
      list-style-image: url('https://cepheus.neocities.org/vessel/pj/folder-orange.gif');
      }
  
  .n{margin:0;
  padding:0;
  
  }
  
  .n a{
   color: black;
   text-decoration:none;
   margin:0;
   padding: 0;
   padding-top: 5px;
   padding-bottom:5px;
   border:none;
  }
  
  .n a:hover{
    color:#ad6a6a;
    -moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;}
  
  .n li{
    border-bottom: 1px dashed #aaa;
    list-style-type: square;
   margin-top: 5px;
   margin-bottom: 5px;}
   
   .n ul{
     margin-top: -5px;}
    
  
  .footer{
  width: 100%;
 height: auto;
 line-height: 16px;
 background: url('https://cepheus.neocities.org/vessel/pj/_s_a73b73c159d159e0f0g64h7F0505AD1B0F8F8F65000000iEEj0k64l158m158.png');
    border-radius: 0px 0px 13px 13px;
 border-top: 1px solid black;
 text-align:center; 
 font-size: 16px;
 margin:0;
 font-weight:normal;
 color:#fff;
 padding:0;
 padding-top:10px;
 padding-bottom:4px;
 float:right;}
    
.footer a{
  text-decoration: none;
  color:inherit;}
  
  
.footer a:hover{
  -moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
  color:#f7d2d2;}
  
  a{
    text-decoration:none;
  border-bottom: 1px dashed #992b2b;
  color: #333;
  -moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;}
  
  a:hover{
    -moz-transition:.5s;
-webkit-transition:.5s;
transition:.5s;
    color:#992b2b;}
    
    em{
     font-style:normal;
     font-weight:bold;
     color: #f7d2d2;
     background: #992b2b;
    }
    
    i{
      color: #992b2b;}
      
      blockquote{
        border: 1px solid black;
    border-radius: 13px;
    padding:5px;
    color: black;
    background:#f7d2d2;}
  
  ::-webkit-scrollbar {
    width: 8px;
    background:white;
    
    border: 1px solid #000;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,255,1); 
    border-radius: 0px;
    
}

::-webkit-scrollbar-thumb {
  
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.5); 
    background:black;
    
    border: 0px solid #fff;
} 
    
    </style>
    
  <style>
  
@media only screen and (max-width: 799px) {
  
body{
  width:100%;
  margin: 0;
  padding:0;
  font-size: 20px;}
  
#container{
width: 95%;
margin: 0 auto;
padding:0;
margin-top: 15px;
margin-bottom: 15px; 
}

.header{
  text-align:center;
  height: 200px;}
  
  .h{
    margin-left: -5px;
    font-size: 50px;
  line-height: 45px;}
  
  .h h2{font-size: 22px;
  line-height: 50px;}

.blog{
  display:inline-block;
  float:none;
  width: 100%;
  margin:0;
  margin-top: 20px;
  margin-bottom: 10px;
  padding:0;}
  
.side{
  display:inline-block;
  float:none;
  width: 100%;
  margin:0;
  margin-top:10px;
  border-top: 1px dashed black;
  padding:0;
  margin-bottom: 10px;
  padding-top:20px;}
  
.t{
  margin-bottom: 10px;
  padding:5px;
  font-size: 20px;}
  
   .n ul{
     padding-left: 5px;
     padding-right: 5px;}
  
}
</style>
   
  
  </head>
  <body>
    
    
    <div id="container">
    <div class="header"><div class="h">Site title here
    <h2>Description goes here</h2></div></div>
    
    
    
    <div class="blog">
     <h1>Title</h1>
    <h2>Subtitle</h2>
    <div class="t">
    <strong>Bold</strong>, <i>italics</i>, <u>underlined</u>, <em>emphasis</em>, <s>strikethrough</s>, <a href="#">Link</a>. Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something 
    
    <p>This is <strong>Container Basic</strong>, a free HTML/CSS theme for your blog or website! It can be pasted <u>directly</u> onto a HTML page or adapted for blog sites like <a href="http://blogger.com" target="_blank">blogger</a> (using classic templates) or even a <i>wordpress</i> website if you're familiar with the codes. The design is inspired in part by the consistently 2000s style of Japanese web design. The coding is fairly basic and it should work great as a base for whatever designs you come up!</p>
    
    <p>Main features include a <em>container-based</em> layout with footer, sidebar & header with description/title space. The header and background patterns can be easily swapped out - try playing around with the pattern generator I linked in the credits!</p>


<p>This theme is suitable for mobile browsing! To download, click the link in the sidebar. Happy coding x</p>
    
    
    </div>
    
    <h1>Title</h1>
    <h2>Subtitle</h2>
    <div class="t">
    Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something 
    
    <ul>
    <li>Lorem ipsum something something</li>
    <li>Lorem ipsum something something</li>
    </ul>
    
    Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something 
    
    
    <blockquote>This is a blockquote. Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something </blockquote>
    </div>
    </div>
    
    
    <div class="side">
    
    <h1>Title</h1>
    <h2>Subtitle</h2>
    <div class="t">
    Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something Lorem ipsum something something 
    </div>
    
    <h1>Title</h1>
    <h2>Navigation</h2>
    <div class="t">
        <div class="n">
          
          <ul>
          <li><a href="#" target="_blank">Link</a></li>
          <li><a href="#" target="_blank">Link</a></li>
          <li><a href="#" target="_blank">Link</a></li>
          <li><a href="#" target="_blank">Link</a></li>
          </ul>
          
    </div>
    </div>
    
    
    <h1>Title</h1>
    <h2>Site Credits</h2>
    <div class="t">
    Pixels: <a href="https://pixel-soup.tumblr.com/" target="_blank">X</a><br>
    Patterns: <a href="https://www.patterncooler.com/" target="_blank">X</a>
    </div>
          
    
    
    
    </div>
    
    
    <div class="footer">
          &copy; Your site 3008. Valid <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Fcepheus.neocities.org%2Fvessel%2Fpj%2Findex.html&profile=css3svg&usermedium=all&warning=1&vextwarning=&lang=en" target="_blank">CSS3</a>. Designed with <a href="http://cepheus.neocities.org" target="_blank">&hearts;</a></div>
    
    
    
    </div>
    
    
    
    
  </body>
</html>
